header{
    background-color: #0000ff;
}
h1{
    font-family: serif;
}
h2{
    font-family: serif;
}
nav ul li{
    font-weight: bolder;
}
.container{
    padding: 20px;
}
#conteudo{
    line-height: 1.5;
}
form{
    border: 1px solid #666666;
    padding: 10px;
}
p{
   color: #008000;
}